html, body {
    margin:0px;
    overflow: hidden;
}

.rightAligned
{
  text-align: right;
}

.leftAligned
{
  text-align: left;
}

.centerAligned
{
  text-align: center;
}

.marginAll
{
  margin:10px;
}

.controlWidth200
{
  width: 200px;
}

.controlWidth400
{
  width: 400px;
}

.footerText
{
  background-color: black;
  color:white;
  font-size:15px;
  text-align: center;
  bottom:0px;
  position:fixed;
}
