html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.rightAligned
{
  text-align: right;
}

.leftAligned
{
  text-align: left;
}

.marginAll
{
  margin:10px;
}

.controlWidth200
{
  width: 200px;
}
